page-path {
    #floating-panel {
        position: absolute;
        bottom: 10px;
        
        z-index: 5;
        background-color: #fff;
        padding: 15px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 20%;
        padding-left: 10px;
      }
      
    }
    #map {
        height: 100%;
}

  