<ion-header>
    <ion-navbar>
      <ion-title>
        Track Your Order
        <caption>Order ID: 12525</caption>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div>
      <ion-card id="floating-panel">
        Your Order is Dispatched
      </ion-card>
    </div>
      <div #map style="height:100%"id="map"></div>
  </ion-content>