<ion-header>
  <ion-navbar>
    <ion-title>
    Order Tracking
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content> <ion-fab top right edge>
  <button  ion-fab mini color="#FF6F00"><ion-icon  name="call"></ion-icon></button>

</ion-fab>
  <div id ="#as"style="color:#FF6F00;position:relative;padding-left:20px">
    <b>Order ID: #52152 </b>  
   

  <div><b>GVD Coffee</b> 
   </div>
    </div>
    <div #map id="map"></div>
      
   <ion-card >       
   


    <ion-grid>
    <ion-row>
        <ion-col text-center>
        <h1>DELIVERY ADDRESS</h1>
        <h4>YOUSTART LABS</h4>
        <h4>86,89 NEAR GVD</h4>
        <h4>JAIPUR</h4>
      </ion-col>
        <ion-col text-center>
          <h1>Ariving In</h1>
          <h1 style="display:block;color:green;font-size:50px">15</h1>

          <h3>Minutes</h3>
        </ion-col>
     
    </ion-row>
    <span layout="row"><hr flex/></span>
<ion-row>
<ion-col >

  Nachos Primera Bowl X 1
</ion-col>
<ion-col text-right col-md-3>

  $20
</ion-col>

</ion-row>
<ion-row>
  <ion-col >
  
    Nachos Primera Bowl X 1
  </ion-col>
  <ion-col text-right col-md-3>
  
    $20
  </ion-col>
  
  </ion-row>

  <ion-row>
    <ion-col >
    
      Nachos Primera Bowl X 1
    </ion-col>
    <ion-col text-right col-md-3>
    
      $20
    </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col >
      
        Nachos Primera Bowl X 1
      </ion-col>
      <ion-col text-right col-md-3>
      
        $20
      </ion-col>
      
      </ion-row>
      <span layout="row"><hr flex/></span>
      <ion-row>
        <ion-col >
        
          Item Total
        </ion-col>
        <ion-col text-right col-md-3>
        
          $80
        </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col >
          
            Discount Applies
          </ion-col>
          <ion-col text-right  col-md-3>
          
            <p style="color:green">$10</p>
          </ion-col>
          
          </ion-row>
          <ion-row>
            <ion-col >
            
              Paid By PAYTM WALLET
            </ion-col>
            <ion-col text-right col-md-3>
            
              $70
            </ion-col>
            
            </ion-row>
  </ion-grid>
   </ion-card>

</ion-content>
